/*For screen use
Author: Justin Bartrum
version: 2.0*/
:root {
    --backGr: #FAFAF9;
    --pText: #3E3E3E;
    --head: #4a5d4e;
    --sText: #737373;
    --accent: #A68a64;
}
@font-face {
    font-family: fira;
    src: url(../fonts/FiraCode-Regular.ttf);
}

body {
    margin: 0%;
    background-color: var(--backGr);
    color: var(--pText);
    font-family: fira,'Times New Roman', 'san-serif';
}
header{
    background-color: var(--head);
}
#topBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--head);
    color: var(--backGr);
    padding: 1em 1em;
    }
/*#topBar #personal {
    max-width: fit-content;
}
#topBar h3{
    max-width: fit-content;
}*/
#topBar button{
    
    background-color: #D6C6A1;
    min-height: 50px;
    min-width: 100px;
}
#topBar a:link{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #3E3E3E;   
}
#topBar a:visited{
    color: #000000;
}
#summary{
    max-width: 70%;
    padding-left: 10%;
    justify-items: end;
    align-self: center;
}


nav{
    margin: 0%;
    background-color: var(--sText);
    color: var(--backGr);
}
#list{
    padding: 10px 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;    
}
#list li>a{
    
    text-decoration: none;
    color: var(--backGr);
}
main{
    color: var(--pText);
    margin: 1em;
}
#techSkill{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    
}
.techSkillContent{
    border: 2.5px solid var(--accent);
    
}
.techSkillContent h3{
    text-align: center;
    margin: 0%;
    padding: 1em 0em;
    width: 100%;
    background-color: var(--head);
    color: var(--backGr);
}
.techSkillContent ul li{
    margin:2% 0%;
    font-size: 1.1em;
    font-weight: 800;
}
#lower1{
    grid-column: 2;
    grid-row: 1 / span 2;
}
#lower2 {
    grid-column: 3;
}
#proExp section{
    margin: 2% 0%;
}
#proExp summary{
    font-size: 1.4em;
    font-weight: 700;
}
.bulletpoint{
    min-width: 80%;
    background-color: #d3d3d3;
    line-height: 2.5;
    border-radius: 2em;
    margin: .5em .1em;
    text-align: start;
    box-shadow:0 0 10px #a4aea6 ;
}
#proj{
    text-align: center;
    justify-self: center;
}
#repo-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    text-align: left;
}
#eduCert{
    text-align: center;
    justify-self: center;
}
@media screen and (max-width: 800px) {
    #topBar{
        padding: 0;
        justify-content: center;
    }
    #personal{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    #personal button{
        min-width: 100%;
    }
    #summary{
        display: none;
    }
    #list>#mobileRemove{
        display: none;
    }
    #list{
        display: flex;
        
        flex-direction: column;
        gap: .5em;
    }
    #list li{
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 44px;
        min-width: 80%;
        border: .2em black solid;
        padding: .25em;
        
    }
    
    #techSkill{
        display: none;
    }
    #proExp h1{
        font-size: 1.5em;
    }
    #proExp summary {
        line-height: 1.75em;
        padding: .5em;
        font-size: 1.2em;
    }
    #repo-list{
        display: flex;
        flex-direction: column;
    }
    #proj, #eduCert{
        justify-content: center;
    }
}