/*For screen use
Author: Justin Bartrum
version: 2.0*/
:root {
    --backGr: #FAFAF9;
    --pText: #3E3E3E;
    --head: #4a5d4e;
    --sText: #737373;
    --accent: #A68a64;
}

body {
    margin: 0%;
    background-color: var(--backGr);
    color: var(--pText);
    font-family: 'Inter','Times New Roman', 'san-serif';
}
header{
    background-color: var(--head);
}
#topBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--head);
    color: var(--backGr);
    padding: 1em 1em;
    }
/*#topBar #personal {
    max-width: fit-content;
}
#topBar h3{
    max-width: fit-content;
}*/
#topBar button{

    background-color: var(--pText);
}
#topBar a:link{
    text-decoration: none;
    color: var(--accent);   
}
#summary{
    max-width: 70%;
    padding-left: 10%;
    justify-items: end;
    align-self: center;
}


nav{
    margin: 0%;
    background-color: var(--sText);
    color: var(--backGr);
}
#list{
    padding: 10px 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;    
}
#list li>a{
    text-decoration: none;
    color: var(--backGr);
}
main{
    color: var(--pText);
    margin: 1em;
}
#techSkill{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    
}
.techSkillContent{
    border: 2.5px solid var(--accent);
    
}
.techSkillContent h3{
    text-align: center;
    margin: 0%;
    padding: 1em 0em;
    width: 100%;
    background-color: var(--head);
    color: var(--backGr);
}
.techSkillContent ul li{
    margin:2% 0%;
    font-size: 1.1em;
    font-weight: 800;
}
#lower1{
    grid-column: 2;
    grid-row: 1 / span 2;
}
#lower2 {
    grid-column: 3;
}
#proExp section{
    margin: 2% 0%;
}
#proExp summary{
    font-size: 1.4em;
    font-weight: 700;
}
.bulletpoint{
    max-width: 75em;
    background-color: #d3d3d3;
    line-height: 2.5;
    border-radius: 2em;
    margin-left: 1em;
    text-align: start;
    box-shadow:0 0 10px #a4aea6 ;
}
#proj{
    text-align: center;
    justify-self: center;
}
#eduCert{
    text-align: center;
    justify-self: end;
}
@media screen and (max-width: 800px) {
    
    #personal{
        display: flex;
        flex-direction: column;
    }
    #summary{
        display: none;
    }
    #list{
        display: flex;
        flex-direction: column;
        gap: .5em;
    }
    #list li{
        border: .1em black solid;
        padding: .25em;
        align-self: center;
    }
    #techSkill{
        display: none;
    }
    #proExp h1{
        font-size: 1.5em;
    }
    #proExp summary {
        line-height: 1.75em;
        padding: .5em;
        font-size: 1.2em;
    }
    #proj, #eduCert{
        justify-content: center;
    }
}